@import url("https://use.fontawesome.com/releases/v5.4.1/css/all.css");
    
    
header {
    position:fixed;
top:0;
left:0;
padding: 0 100px;
z-index:10;
width:100%;
background:#262626;
box-sizing: border-box;
}

header .logo{
color :#fff;
height: 3.125rem;
line-height: 3.125rem;
font-size: 1.5rem;
float:left;
font-weight: bold;

}
header nav{
float:right;

}
header nav ul{
margin: 0;
padding:0;
display: flex;

}
header nav ul li{
list-style: none
}
header nav ul li a{
height: 3.125rem;
line-height: 3.125rem;
padding: 0 20px;
color: #fff;
text-decoration: none;
display: block;
}
header nav ul li a:hover,
header nav ul li a.active{
color:#fff;
background: #2196f3;
}
.menu-toggle{
color:#fff;
float: right;
line-height: 3.125rem;
font-size: 1.25rem;
cursor: pointer;
display: none;
}
@media (max-width:991px){

header{
    padding: 0 20px;
}
.menu-toggle{
    display:block;
}
header nav{
   
    position:absolute;
    width:100%;
   
    background: #333;
    top:3.125rem;
    left: -100%;
    transition: 0.5s;
}
header nav.active{
    left:0;
}

header nav ul{
    display: block;
    text-align: center;

}

header nav ul li a{
    border-bottom: 1px solid rgba(0,0,0,.2) 

}
}
