<% include head %>
<% include menu %>   

<h1>vsethdhjtukyukgy</h1>
<p>Thanks for getting in touch!</p>
<p>you connected <%= data.nom %> <%= data.prenom %>
    <%= data.dateBirth %><%= data.tel %><%= data.email %><%= data.adresse %> <%= data.ville %> <%= data.message %></p>
<% include footer %>