
<% include head %>
<% include menu %>





<section id=blockSlider2 style='padding-top:5rem;'>
   <form class="contact-form" method ="POST" action="/contact">
            <div class="">
                <h2></h2>
                
                <div class="contact-champs ">
                    <label for="">Nom</label>
                    <input type="text" id="nom" name="nom" placeholder="Nom" value="" required>
                    <span id='missing_nom'></span>
                </div>

                <div class="contact-champs ">
                        <label for="">Prénomom</label>
                        <input type="text" id="prenom" name="prenom" placeholder="Prenom" value="" required>
                    </div>

                    <div class="contact-champs ">
                            <label for="">Date de Naissance</label>
                            <input type="date" id="dateBirth" name="dateBirth" placeholder="" value="" required>
                        </div>

                <div class="contact-champs">
                    <label for="telephone">Télephone</label>
                    <input type="text" id="tel" name="tel" placeholder="Télephone" value="" required>
                </div>

                <div class="contact-champs">
                    <label for="mail">Email</label>
                    <input type="email" id="mail" name="email" placeholder="mail" value="" required>
                </div>

                <div class="contact-champs">
                    <label for="adresse">Adresse</label>
                    <input type="text" id="adresse" name="adresse" placeholder="Adresse" value="" required>
                </div>
                
                <div class="contact-champs">
                        <label for="ville">Ville</label>
                        <input type="text" id="tel" name="ville" placeholder="ville" value="" required>
                    </div>


                <div class="contact-champs">
                    <label for="Votre message">code postal</label>
                    <input type="text" id="message" name="message" placeholder="code postal" value="" required>
                </div>

              
                <input class="btn-contact" type="submit" id="submitBtn" name="submitBtn" value="Envoyer">
            </div>
        </form>
    </div><!--END CONTACT FORM BIG-->


</section>

<script>
    let validation = document.getElementById('submitBtn');
    let nom = document.getElementById('nom');
    let nom_m = document.getElementById('missing_nom')
    let nom_v = /^[a-zA-Zéè][a-/zéèêç]+([-'\s][a-zA-Zéè][a-/zéèêç]+)?/;
    validation.addEventListener('click', f_valid);
    
    function f_valid(e){
    if(nom.validity.valueMissing){
        e.preventDefault();
        nom_m.textContent = 'Name please';
        nom_m.style.color = 'red';
    }
    else if(nom_v.test(nom.value) == false) {
        event.preventDefault();
        nom_m.textContent = 'format incorrect';
        nom_m.style.color = 'orange';
    }else{
        
    }
    
    }
        
    </script>

<% include footer %>