<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/image/1.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Capétiens week2</title>
    <link rel="stylesheet" href="/semantic/semantic.min.css">
    <link rel="stylesheet" href="/style1.css">
    <link rel="stylesheet" href="/menu.css">
    <link rel="stylesheet" href="/footer.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>